

<div class="loginBox">
    <form id="loginForm">
        <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Username:</span>
            </div>
            <input type="text" class="form-control" />
        </div>
        <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Password:</span>
            </div>
            <input type="password" class="form-control" />
        </div>
        <div class="form-control-container">
            <a id="signupLink" href="/App">Sign up</a>
            <button id="loginBtn" type="button" class="btn btn-wa-dark">Login</button>
        </div>
    </form>
</div>