@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/FormsAndControls.css" />
}

<div class="text-center" id="welcomeContainer">
    <h1 class="display-4" id="welcomeMessage">Welcome</h1>
</div>

<div class="login-container">
    @await Component.InvokeAsync("Login")

    @*<div class="button-container">
        <button type="button" class="btn btn-wa-light">WA Light</button>
        <button type="button" class="btn btn-wa-dark">WA Dark</button>
        <button type="button" class="btn btn-wa-success">WA Success</button>
        <button type="button" class="btn btn-wa-warning">WA Warning</button>
        <button type="button" class="btn btn-wa-danger">WA Danger</button>
    </div>*@
</div>
